{% extends 'firstpage.html' %}

{% block title %}
Home-
{% endblock title %}

{% block body %}

<link rel="stylesheet" href="static/style.css">


<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <img src="static/Images/slider2.jpg" width="700" height="600"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>The Basant Scenes</h5>
        <p>The Basant festival is celebrated every year in Rawalpindi in th
          month of
          Feburary</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/Images/slider1.jpg" width="700" height="600"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>The Sunset Scene</h5>
        <p>View from the vicinity of Raja Bazar</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/Images/slider3.jpg" width="700" height="600"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Rawalpindi Railways</h5>
        <p>The station is located near Saddar.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
    data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
    data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="my-4">
  <hr color="blue">
  <h2 style="text-align:center;">Some Historical Preview</h2>
  <hr color="blue">
</div>

<div class="container my-4">
  <div class="card-deck">
    <div class="card shadow">
      <div class="inner">
        <img src="static/Images/img1.jpg" class="img-responsive img-fluid"
          style="width:348px; height: 300px;">
      </div>
      <div class="card-body">
        <h5 class="card-title">Arial View of rawalpindi</h5>
        <p class="card-text">Rawalpindi with its 2.098 million population,
          is the fourth-largest city of Pakistan. Being a historical and a
          developed city at the same time, its quaint scenes will take you
          on a journey from the 15th century to 21st century!</p>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card shadow">
      <div class="inner">
        <img src="static/Images/img2.jpg" class="img-responsive"
          style="width:348px; height: 300px;">
      </div>
      <div class="card-body">
        <h5 class="card-title">Biggest Mosque of Rawalpindi</h5>
        <p class="card-text">The city features a diverse religious culture
          with various temples and cathedrals.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 5 mins ago</small>
      </div>
    </div>
    <div class="card shadow">
      <div class="inner">
        <img src="static/Images/img3.jpg" class="img-responsive"
          style="width:348px; height: 300px;">
      </div>
      <div class="card-body">
        <h5 class="card-title">Saint Paul's Church</h5>
        <p class="card-text">This is located near saddar, the church has its
          own importance because it is the one and only church that attracts
          tourist from different parts of country</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 8 mins ago</small>
      </div>
    </div>
  </div><br>
  <div class="card-deck">
    <div class="card shadow">
      <div class="inner">
        <img src="static/Images/im4.jpg" class="img-responsive"
          style="width:348px; height: 300px;">
      </div>
      <div class="card-body">
        <h5 class="card-title">The British GraveYard</h5>
        <p class="card-text">War veterans from the era of British rule in
          sub-continent have been buried in the “Gora Kabristan” of
          Rawalpindi.</p>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 23 mins ago</small>
      </div>
    </div>
    <div class="card shadow">
      <div class="inner">
        <img src="static/Images/im5.jpg" class="img-responsive"
          style="width:348px; height: 300px;">
      </div>
      <div class="card-body">
        <h5 class="card-title">RehmanAbad Track of Metro</h5>
        <p class="card-text">Inaugurated in June 2015, the Metro bus project
          has become a landmark for the city, connecting Rawalpindi with
          Islamabad. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 30 mins ago</small>
      </div>
    </div>
    <div class="card shadow">
      <div class="inner">
        <div class="inner">
          <img src="static/Images/img6.jpg" class="img-responsive"
            style="width:348px; height: 300px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">Cricket Stadium Area</h5>
          <p class="card-text">The Rawalpindi Cricket Stadium, situated on
            the double road, has the honour of hosting numerous
            international and domestic cricket matches.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 5 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock body %}